#!/usr/bin/make -f
#export DH_VERBOSE=1
# This is the debhelper compatability version to use.

#MAKEFLAGS="-j $(grep -c ^processor /proc/cpuinfo)"

#export DH_COMPAT=3
APPNAME := radeon-profile
DESTDIR := $(CURDIR)/debian/$(APPNAME)
#TR_DIR=$(CURDIR)/debian/$(APPNAME)/usr/share/qt4/translations
#QTVER := $(qt59 | $qt56)
#QTVER := $(qt59) | $(qt56)
#QTVER=$(qt59 | qt56)
#QTVER="qt59 | qt56"
QTVER="(qt59) | (qt56)"

#QTVER=(qt59 | qt56)
#QTVER=$(qt59) | $(qt56)
#QTVER=$(qt59) | QTVER=$(qt56)


builddir:
		mkdir -p builddir

builddir/Makefile: builddir
		#cd builddir && qmake PREFIX=/usr ../$(APPNAME).pro
		#cd builddir && qmake PREFIX=/usr ../$(APPNAME)/$(APPNAME).pro
		cd builddir && qmake -qt=opt-$(QTVER) PREFIX=/usr ../$(APPNAME)/$(APPNAME).pro
build: build-stamp

build-stamp: builddir/Makefile
		dh_testdir
		# Add here commands to compile the package.
		cd builddir && $(MAKE) #$(MAKEFLAGS)
		# Generate translations
		#lupdate $(APPNAME)/$(APPNAME).pro
		#lrelease $(APPNAME)/$(APPNAME).pro
		/opt/$QTVER/bin/lupdate $(APPNAME)/$(APPNAME).pro
		/opt/$QTVER/bin/lrelease $(APPNAME)/$(APPNAME).pro
		touch $@

clean:
		dh_testdir
		dh_testroot
		rm -f build-stamp
		# Add here commands to clean up after the build process.
		rm -rf builddir
		#rm translations/*.qm
		dh_clean
install: build
		dh_testdir
		dh_testroot
		dh_clean -k
		dh_installdirs
		mkdir $(DESTDIR)/usr
		mkdir $(DESTDIR)/usr/bin
		mkdir $(DESTDIR)/usr/share
		mkdir $(DESTDIR)/usr/share/applications
		mkdir $(DESTDIR)/usr/share/pixmaps
		mkdir $(DESTDIR)/usr/share/$(APPNAME)
		#cp $(CURDIR)/builddir/$(APPNAME) $(DESTDIR)/usr/share/$(APPNAME)
		cp -r $(CURDIR)/builddir/$(APPNAME) $(DESTDIR)/usr/share/$(APPNAME)
		#cp $(CURDIR)/extra/$(APPNAME).desktop $(DESTDIR)/usr/share/applications
		cp  $(CURDIR)/$(APPNAME)/extra/$(APPNAME).desktop $(DESTDIR)/usr/share/applications
		#cp $(CURDIR)/extra/$(APPNAME).png $(DESTDIR)/usr/share/pixmaps
		cp  $(CURDIR)/$(APPNAME)/extra/$(APPNAME).png $(DESTDIR)/usr/share/pixmaps
		#mv $(CURDIR)/translations/*.qm $(DESTDIR)/usr/share/$(APPNAME)
		mv  $(CURDIR)/$(APPNAME)/translations/*.qm $(DESTDIR)/usr/share/$(APPNAME)

		# Add here commands to install the package into debian/your_appname
		cd builddir && $(MAKE) INSTALL_ROOT=$(DESTDIR) install
# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
		dh_testdir
		dh_testroot
		dh_installdocs
		dh_installexamples
		dh_installman
		dh_link /usr/share/$(APPNAME)/$(APPNAME) /usr/bin/$(APPNAME)
		#dh_strip --dbg-package=my-application-dbg
		dh_compress
		dh_fixperms
		dh_installdeb
		dh_shlibdeps
		dh_gencontrol
		dh_md5sums
		dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
